db.hostname=localhost
db.port=1521
db.servicename=ORCLCDB
db.password=oracle
plsql.gateway.add=false
rest.services.apex.add=false
rest.services.ords.add=true
schema.tablespace.default=SYSAUX
schema.tablespace.temp=TEMP
standalone.http.port=8080
standalone.mode=true
standalone.use.https=false
user.public.password=oracle
user.tablespace.default=SYSAUX
user.tablespace.temp=TEMP